
<div class="page-header">
  <h1>Красноярская летняя школа <small>Осталось 137 дней</small></h1>
</div>

 <ul class="nav nav-pills red">
  <li class="active"><a href="#">Главная</a></li>
  <li><a class = "rred" href="#">Фотогаллерея</a></li>
  <li><a class = "rred" href="#">О нас</a></li>
  <li><a class = "rred" href="#">FAQ</a></li>
  <li><a class = "rred" href="#">Хочу в КЛШ</a></li>
  <li><a class = "rred" href="#">Фольклор</a></li>
  <li><a class = "rred" href="#">Задачи месяца</a></li>
  <li><a class = "rred" href="#">Контакты</a></li>
</ul>
<hr>
<div class="row">
	<div class="col-md-3">
    <br>
    <h3>Наши мероприятия</h3>
		<ul class="nav nav-pills nav-stacked">    
  		<li><a class = "rred" href="#">Физмат-биатлон, 12 сентября</a></li>
			<li><a class = "rred" href="#">Олимпиада КЛШ, 20 декабря</a></li>		
			<li><a class = "rred" href="#">Вступительное задание, до 5 февраля</a></li>
			<li><a class = "rred" href="#">Собеседование, 24 мая</a></li>	
		</ul>
	</div>
  <div class="col-md-9">
    
    <div class="fotorama" data-shuffle="true"  
          data-width="800"
          data-height="600">>
      <img src="<%= asset_path("1.jpg")%>"
      data-caption="У нас есть своя печать!">
      <img src="<%= asset_path("2.jpg")%>"
        data-caption="Мы -- не секта!!!">
      <img src="<%= asset_path("3.jpg")%>"
      data-caption="В качестве вечернего досуга
       школьников ждет замечательная культурная программа.">
      <img src="<%= asset_path("4.jpg")%>"
      data-caption="С недавних пор Летняя школа перешла на натуральное хозяйство.">
      <img src="<%= asset_path("5.jpg")%>" 
      data-caption="В КЛШ впервые изобрели бумагу.">
      <img src="<%= asset_path("6.jpg")%>"
      data-caption="Лагерь, в котором проходит Школа, имеет великолепную охрану">
      <img src="<%= asset_path("7.jpg")%>"
      data-caption="А это какие-то конверты.">  
    </div>
    <h2>Последние новости</h2>
    <ul>
      <li>Началась проверка вступительного задания.</li>
      <li>Прошла Зимняя олимпиада. Результаты <a class = "rred" href='#'>здесь</a>.</li>
      <li>Суп в столовой теперь горячий. </li>
      <li><a class = "rred" href='#'>Интервью</a> с директором Летней школы телеканалу "СТС" </li>
      <li>Суп в столовой опять холодный. </li>
      <br>  

      <a class = "red-dashed" href='#' >Еще новости</a>
    </ul>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-9">
    <div class="footer">
        Bla-bla klsh by <a href="#">Kirill Pavlenko</a>
    </div>
  </div>
</div>
